.translate {
	text-align: center;
	animation: pulsing 5s linear infinite;
	animation-delay: .5s;
}


.words-block{
	transform: translateY(40vh);
}

.word{
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  border: 1px solid;
	border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: grey;
}

@keyframes pulsing {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(50vh);
  }
}