*{
  margin: 0;
  padding: 0;
}
html{
  min-height: 100%;
}

body{
  min-height: 100vh;
}

.savannah{
  height: 100vh;
}

.translate {
	text-align: center;
	animation: pulsing 5s linear infinite;
	animation-delay: .5s;
}

/* .animation{
  animation: pulsing 5s linear infinite;
} */
.words-block{
	transform: translateY(40vh);
}

.word{
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  border: 1px solid;
	border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: grey;
}

/* @keyframes pulsing {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(50vh);
  }
} */

.row{
  align-items: center;
}

.savannah__select{
  width: 150px;
}

