.word-constructor-wrapper {
  font-size: 24px;
  width: 70%;
  height: 80vh;
  position: relative;
  /* top: calc(50vh - 300px);
  left: calc(50vw - 400px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #e6e9ee;
  overflow: auto;
  margin: 0 auto;
}
.letter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
/* .letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid red;
  border-radius: 10%;
  margin-right: 20px;
} */
.btn {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  /* margin-right: 20px; */
}
.btn + .btn {
  margin-left: 20px;
}

.word-image {
  width: 200px;
}

.progress-container {
  width: 25%;
  color: #eb6864;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.empty-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  pointer-events: none;
}
.empty-letter + .empty-letter {
  margin-left: 20px;
}
.removed {
  display: none;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}
.stats-wrapper {
  height: 100%;
}
.audio-icon {
  position: absolute;
  top: 14px;
  left: 27px;
  width: 46px;
  height: 43px;
}
svg {
  overflow: hidden;
  vertical-align: middle;
  width: 40px;
  position: relative;
  left: -12px;
  top: -2px;
}
.btn-secondary {
  width: auto;
}
li {
  list-style: none;
}
.stats-list + .stats-list {
  margin-top: 10px;
}
.pagination {
  justify-content: center;
  margin-top: 20px;
}
.word-builder-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.difficulty-wrapper {
  margin-left: 40px;
}
.audio-button-stats {
  margin-right: 20px;
}
.h4-choose-difficulty {
  color: #eb6864;
}
