body[data-theme=dark] {
    .dictionary-page {
        table {
            color: white;
        }

        .nav-link.active {
            background-color: #3a444e;
        }
    }
}

.dictionary-page {
    table {
        td {
            vertical-align: middle;

            button {
                background: #eb6864 !important;
                color: white;
            }
        }
    }

    .page-link:hover {
        color: white !important;
        cursor: pointer;
    }
}