.audiocall_wrap {
    height: calc(100vh - 61px);
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .row {
        margin: 0;
    }

    .audiocall_bg {
        position: absolute;
        z-index: -1;
        height: inherit;
        width: 100%;
        background-color: #8164eb;
    }

    .header_progress-bar {
        position: absolute;
        top: 0;
        height: 45px;
        width: 100%;
        margin: 0 auto;

        .progress {
            width: 100%;
            border-radius: unset;

            .progress-bar {
                background-color: #8164eb;
            }
        }
    }
}