.result__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    border-radius: 15px;
    height: 50% !important;
    margin: 0 auto;
    top: 50%;
    transform: translateY(7%);
    font-size: 19px;
    margin: 0 auto;
}

.error__title,
.success__title {
    width: 40%;
    font-weight: 600;
    margin: 20px;
}

.error__title span,
.success__title span {
    margin-left: 5px;
}

.error__words,
.success__words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.result__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 2vw;
}

.result__control a {
    margin-right: 20px;
    width: 17vw;

    &:last-child {
        margin-right: 0;
    }
}

@media (max-width: 1500px) {

    .result__container {
        width: 70%;
    }
}

@media (max-width: 768px) {

    .result__container {
        width: 100%;
        margin: 2vw 2vw;
    }

    .result__control a {
        margin-right: 5px;
        margin-bottom: 10px;
        width: 50%;
        font-size: 1rem;
    }
}