html,
body {
  height: 100%;
}

body {
  // background: url(../../assets/images/text-on-shelf.jpg) no-repeat 50% fixed;
  background-size: cover;
}

.sprint__wrap {
 /*  background-image: url(../../assets/images/sprint/bgc-sprint-main.svg); */
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 100%, auto, auto;
  height: 100vh;
}

.sprint {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.sprint__btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 35px;
}

.sprint__game-wrapper {
  width: 300px;
  height: 320px;
  border-radius: 5px;
  padding: 0 25px;
}

.sprint-link {
  background-color: #ffffff;
  border: 1px solid #EB6864;
  border-radius: 5px;
  padding: 5px 10px;
  color: #EB6864;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  cursor: pointer;
}

.sprint-link:hover {
  background-color: #EB6864;
  border: 1px solid #EB6864;
  text-decoration: none;
  color: #ffffff;
}

.sprint__card-header {
  width: 100%;
  height: 50px;
}



.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sprint__doubling {
  height: 60px;
}

.card__word {
  margin: 5px 0;
}

.card__translate {
  margin: 5px 0 80px;
}

.sprint__btn-wrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.sprint__btn {
  width: 110px;
  border: none;
  outline: none;
  user-select: none;
  border-radius: 3px;
  color: #ffffff;
  padding: 5px 0;
  margin-bottom: 10px;
  text-align: center;
}

.sprint__btn:active {
  border: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.green {
  border: 1px solid green;
  background-color: #ffffff;
  color: green;
}

.green:hover {
  border: 1px solid green;
  background-color: green;
  color: #ffffff;
}

.red {
  border: 1px solid red;
  background-color: #ffffff;
  color: red;
}

.red:hover {
  border: 1px solid red;
  background-color: red;
  color: #ffffff;
}


.page-link {
  line-height: 1;
}

.statistics {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 300px;
  background-color: #fff;
  // opacity: 0.9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000000;
  border-radius: 5px;
}

.sprint__close {
  position: absolute;
  width: 20px;
  top: 15px;
  right: 0;
  cursor: pointer;
}

.statistics__title {
  margin: 15px 0;
}

.statistics__points {
  margin: 60px 0;
}

.stat__btn-wrap {
  margin: 30px 0 0;
  padding: 0 30px;
}

.sprint__modal {
  position: absolute;
  display: none;
  text-align: center;
  width: 350px;
  height: 200px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000000;
  border-radius: 5px;
}

.sprint__modal-title {
  margin-top: 15px;
}