.progress-bar {
  margin-top: 10px;
  display: block;
  width: 100px;
  height: 100px;
  background-color: transparent;
  top: 0;
  left: 50px;
}

.sprint__close {
  fill: red;
}

.sprint__close:hover {
  fill: #ffffff;
}